<!DOCTYPE html>
<html lang="en">
<head>
  <title>doc</title>
</head>
<body>
<h1>Registration</h1>
<form id="signup" class="input-group" method="POST" action="/registration">
  <div>
 <input type="text" class="input-field" placeholder="Full name" required name="name">
</div>
<div>
  <input type="text" class="input-field" placeholder="Email-id" required name="email">
</div>
<div>
  <input type="password" class="input-field" placeholder="Password" required name="password">
</div>
<div>
<button type="submit">Register</button>
</div>
  </form>
 <a href="/login">login</a>


</body>
</html>
